body
{
	background-image: url('../Images/greyBackground.jpg');
	
}
#outerContainer
{
	width:100%;	
}
#innerContainer
{
	width:960px;
	width:auto;
	text-align:center;
	
}
#rightContentPane
{
	width:140px;
	margin: 10px;
	padding: 10px;
	display:inline-block;
	text-align:left;
	border-width:2px;
	border-right-style:solid;
}
#mainContentPane
{
	width:740px;
	margin: 10px;
	padding: 10px;
	display:inline-block;
	text-align:left;
}
