body
{
	background-color: 	#A9A9A9;
	//background-image: url('../Images/greyMetalBackground.jpg');
	background-position:center;
	
}
#outerContainer
{
	width:100%;
	dislplay: block;
	text-align:center;
	margin:0px;	
}
#innerContainer
{
	width:940px;
	display: inline-block;
	text-align:center;
	
}
#rightContentPane
{
	width:134px;
	margin: 10px;
	padding: 10px;
	display:inline-block;
	text-align:left;
	border-width:2px;
	border-right-style:solid;
}
#mainContentPane
{
	width:720px;
	margin: 10px;
	padding: 10px;
	display:inline-block;
	text-align:left;	
}
#mainContentPaneAdminUpdate
{
	width:920px;
	margin: 0px;
	padding: 10px;
	display:inline-block;
	text-align:left;	
}
#preEditTableUsers
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
	
}
#editTableUsers
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
	
}
#preEditTableLots
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
	font: 14px times;
	
}
#editTableLots
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
	font: 14px times;
	
}
tr, td
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
		
}
