body
{
	background-color: 	#A9A9A9;
	//background-image: url('../Images/greyMetalBackground.jpg');
	background-position:center;
	
}
#content
{
        font:12px Verdana;
        float:left;
        /* display: inline-block; */
        width:900px;
        height:380px;
        overflow:auto;
        margin: 0px 10px;
        padding: 10px;
        border:4px solid #003366;
        border-bottom-right-radius:15px;
        border-bottom-left-radius:15px;
        border-top-right-radius:15px;
        border-top-left-radius:15px;
}
#outerContainer
{
	width:100%;
	display: block;
	text-align:center;
	margin:0px;	
}
#innerContainer
{
	width:940px;
	display: inline-block;
	text-align:center;
	
}
#rightContentPane
{
	width:125px;
	margin: 10px;
	padding: 10px;
	display:inline-block;
	text-align:left;
	border-width:2px;
	border-right-style:solid;
}
#tweet ul li
{	
	font: 8px Verdanna;
}
.tweet
{
	width:134px;
	margin: 10px;
	padding: 10px;
	display:inline-block;
	text-align:left;
	border-width:2px;
	border-right-style:solid;
	font: 8px Verdanna;
}
#mainContentPane
{
	width:720px;
	margin: 0px;
	padding: 10px;
	display:inline-block;
	text-align:left;
	vertical-align: top;
		
}
#mainContentPaneAdminUpdate
{
	width:920px;
	margin: 0px;
	padding: 10px;
	display:inline-block;
	text-align:left;	
}
#preEditTableUsers
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
	
}
#editTableUsers
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
	
}
#preEditTableLots
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
	font: 14px times;
	
}
#editTableLots
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
	font: 14px times;
	
}
#preEditTableSpaces
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
	font-size:10px;
	
}
#editTableSpaces
{
	border-style:ridge;
	border-width:2px;
	border-color:white;	
	
}
#preeditTableCoordinates
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
	font: 14px times;
	
}
#editTableCoordinates
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
	font: 14px times;
	
}

tr, td
{
	border-style:ridge;
	border-width:2px;
	border-color:white;
	
		
}
.smallFont
{
	font: 10px times;
}
#weather
{
	border:0px;
}
#weather th
{
	font: 8px times;
	color: black;
	border:0px;
	
}
.weatherTable tr td
{
	border: 0 none;
	font: 8px times;
}
