#outerContainer
{
	width: 100%;
	display: block;
	margin: auto auto;
	text-align:center;
}
#innerContainer
{
	display:inline-block;
	margin: 20px auto;
	width: 400x;
	height: 240px;
	text-align:left;
	
}
label
{
	display:inline-block;
	width:220px;
}