#outerBlock
{
	display: block;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
#containerBlarg
{
	width: 964px;
	display: inline-block;
	zoom:1;
	margin: 0px auto;
	text-align: left;
}

#content
{
	font:12px Verdana;
	float:left;
	/* display: inline-block; */
	width:680px;
	height:380px;
	overflow:auto;
	margin: 0px 10px;
	padding: 10px;
	border:4px solid #003366;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
}
#rightPane
{
	/*position:fixed;*/
        background-image:url('Images/FairOaksNight.jpg');
	float:left;
	/* display: inline-block; */
	width:100px;
	height:380px;
	margin:0px;
	padding:10px 5px;
	border:4px solid #003366;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	border-top-right-radius:15px;
	border-top-left-radius:15px;

}

#leftPane
{
	/*position:fixed;*/
	float:left;
	/* display: inline-block;*/
	width:100px;
	height:380px;
	margin:0px;
	padding:10px 5px;
	font:12px Verdana; 
	border:4px solid #003366;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
}

#footer
{
	font:12px Verdana;
	color:white;
	background-color:#003366;
	height:15px;
	width:700px;
	margin: 10px auto;
	padding: 0px 0px 0px 0px;
	border:4px solid #003366;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
}

#aboutContent
{
	position:fixed;
	left:50%;
	width:900px;
	height:500px;
	float:left;
	margin:10px 0px 0px -400px;
	border:4px solid #003366;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
}

#aboutMiddlepane
{
	width:400px
	height:650px;
	float:left;
	margin:10px 0px 0px 0px;
	font:12px Verdana; 
}

#aboutLeftPane
{
	width:125px;
	height:450px;
	float:left;
	margin:0px 10px 0px 0px;
	font:12px Verdana; 
	border-right:1px solid #003366;
}

#aboutRightPane
{
    background-image:url('../Images/FairOaksNight.jpg');
	float:right;
	width:125px;
	height:450px;
	margin:0px 0px 0px 0px;
	border-left:1px solid #003366;

}

#aboutFooter
{
	position:fixed;
	bottom:2%;
	font:12px Verdana;
	color:white;
	background-color:#003366;
	height:15px;
	width:700px;
	margin: 10px auto;
	padding: 0px 0px 0px 0px;
	border:4px solid #003366;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
}

table
{	
	margin:5px 0px;
	padding:5px;
	border: 1px solid black;
	width:100%
}


tr,td
{
	font:12px Verdana;
	border: 1px solid black;
	margin:0px;
	padding:0px;
	text-align:center;
}
th
{
	background-color:#003366;
	font:12px Verdana;
	font-weight:bold;
	color:white;
	border: 1px solid black;
	margin:5px;
	padding:5px;
}

#editForm 
{
	margin:0px;
}
#passwordForm
{
	margin:0px;
}
